/* Will be compiled down to a single stylesheet with your sass files */

.slider-container {
  position: relative;
  display: block;
  background-color: #e4e4e4;
  height: .5em;
  margin-bottom: 18px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 60px 7px rgba(0, 0, 0, 0.1); }

.slider-container:focus {
  outline: 0; }

.slider-container:before {
  position: absolute;
  content: "";
  top: -1em;
  right: -1em;
  bottom: -1em;
  left: -1em;
  z-index: 0; }

.slider-container,
.slider-progress {
  border-radius: 3px; }

.slider-progress {
  position: absolute;
  background-color: #c32435;
  top: 0;
  bottom: 0;
  left: 0; }

.slider-handle {
  display: block;
  position: absolute;
  background: #BBB;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  margin-left: -16px; }

.slider-handle:hover,
.slider-handle:active {
  background: #CCC; }
