<div class="hero-unit">
  <div ng-form="params">
    <div class="row">
      <div class="col-lg-2">
        A =
      </div>
      <div class="col-lg-4">
        <input type="radio" name="a-direction" id="a-direction-forward" value="F" ng-model="aDirection">
        <label for="a-direction-forward">Move Forward</label>
      </div>
      <div class="col-lg-4">
        <input type="radio" name="a-direction" id="a-direction-back" value="B" ng-model="aDirection" >
        <label for="a-direction-back">Move Backward</label>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-2">
        B =
      </div>
      <div class="col-lg-4">
        <input type="radio" name="b-direction" id="b-direction-forward" value="F" ng-model="bDirection">
        <label for="b-direction-forward">Move Forward</label>
      </div>
      <div class="col-lg-4">
        <input type="radio" name="b-direction" id="b-direction-back" value="B" ng-model="bDirection" >
        <label for="b-direction-back">Move Backward</label>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-2">
        <label for="start-string">Start string</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="start" id="start-string" ng-model="startString">
      </div>
    </div>

     <div class="row">
      <div class="col-lg-2">
        <label for="start-x">Start X / Y</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="start-x" id="start-x" ng-model="startX">
        <input type="text" name="start-y" id="start-y" ng-model="startY">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-2">
        <label for="angle">Angle</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="angle" id="angle" ng-model="angle">
      </div>
    </div>

     <div class="row">
      <div class="col-lg-2">
        <label for="scale">Scale</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="scale" id="scale" ng-model="scale">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-2">
        <label for="a-rule">A Rule</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="a-rule" id="a-rule" ng-model="aRule">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <label for="b-rule">B Rule</label>
      </div>
      <div class="col-lg-4">
        <input type="text" name="b-rule" id="b-rule" ng-model="bRule">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label for="n">N = </label>
        <input type="text" name="n" id="n" ng-model="n">
      </div>
    </div>

    <button ng-click="generate()" ng-disabled="busy">Generate</button>

    <hr>

    <canvas width="1280" height="1080" id="draw"/>
  </div>
</div>
