<div ng-init="generate()" ng-form="params">
	<h3>Generator options</h3>
	<div class="row cf">
		<div class="col col-2">
			<label for="start-string">Start string</label>
		</div>
		<div class="col col-4">
			<input type="text" name="start" id="start-string" ng-model="startString">
		</div>
	</div>

	 <div class="row cf">
		<div class="col col-2">
			<label for="start-x">Start X / Y</label>
		</div>
		<div class="col col-4">
			<p>{{ startX }}</p>
			<f8-slider-bar model="startX" min="0" max="5000" change="generate(false)" />
		</div>
		<div class="col col-4">
			<p>{{ startY }}</p>
			<f8-slider-bar model="startY" min="0" max="5000" change="generate(false)" />
		</div>
	</div>

	<hr>
	<div class="row cf">
		<div class="col col-2">
			<label for="angle">Angle</label>
		</div>
		<div class="col col-4">
			{{ angle }}
			<f8-slider-bar model="angle" min="0" max="360" change="generate(false)" />
		</div>
	</div>

	 <div class="row cf">
		<div class="col col-2">
			<label for="scale">Scale</label>
		</div>
		<div class="col col-4">
			<f8-slider-bar model="scale" min="0" max="100" change="generate(false)" />
		</div>
	</div>

	<hr>
	<div class="row cf">
    <div class="col col-2">
      A =
    </div>
    <div class="col col-4">
      <input type="radio" name="a-direction" id="a-direction-forward" value="F" ng-model="aDirection">
      <label for="a-direction-forward">Move Forward</label>
    </div>
    <div class="col col-4">
      <input type="radio" name="a-direction" id="a-direction-back" value="B" ng-model="aDirection" >
      <label for="a-direction-back">Move Backward</label>
    </div>
  </div>

  <div class="row cf">
    <div class="col col-2">
      B =
    </div>
    <div class="col col-4">
      <input type="radio" name="b-direction" id="b-direction-forward" value="F" ng-model="bDirection">
      <label for="b-direction-forward">Move Forward</label>
    </div>
    <div class="col col-4">
      <input type="radio" name="b-direction" id="b-direction-back" value="B" ng-model="bDirection" >
      <label for="b-direction-back">Move Backward</label>
    </div>
  </div>

	<div class="row cf">
		<div class="col col-2">
			<label for="a-rule">A Rule</label>
		</div>
		<div class="col col-4">
			<input type="text" name="a-rule" id="a-rule" ng-model="aRule">
		</div>
	</div>

	<div class="row cf">
		<div class="col col-2">
			<label for="b-rule">B Rule</label>
		</div>
		<div class="col col-4">
			<input type="text" name="b-rule" id="b-rule" ng-model="bRule">
		</div>
	</div>

	<div class="row cf">
		<div class="col col-4">
			<label for="n">N = </label>
			<!-- input type="text" name="n" id="n" ng-model="n" -->
			{{n}}
			<f8-slider-bar model="n" name="n" min="1" max="15" change="generate(true)" />
		</div>
	</div>

	<button ng-click="generate(true)" ng-disabled="busy">Generate</button>

	<hr>

	<canvas width="2560" height="2160" id="draw"/>
</div>
